@font-face {
    font-family: basic;
    src: url(./falling-sky-font/FallingSky-JKwK.otf);
}
@font-face {
    font-family: basicblack;
    src: url(./falling-sky-font/FallingSkyBlack-GYXA.otf);
}
@font-face {
    font-family: basicinverse;
    src: url(./falling-sky-font/FallingSkyCondensedOutline-n5XO.otf);
}
:root{
    --bg-color : black;
    --text-color : white;
    --highlight-col-1 : green;
    --highlight-col-2 : gold;
    --highlight-col-3 : lime;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: basic;
}
body, html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--bg-color);
}
header{
    background-color: var(--highlight-col-1);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo{
    display: flex;
    flex-direction: row;
}
#logo img{
    height: 7vh;
    width: auto;
}
#logo h1{
    font-weight: 100;
    font-family: basicinverse;
    font-size: 7vh;
    color: var(--highlight-col-2);
    text-shadow: 0.2rem 0.2rem 0.2rem var(--highlight-col-3);
}
#panel>span{
    margin: 0 1rem;
    color: var(--text-color);
}
#panel>span:hover{
    color: var(--highlight-col-2);
    cursor: pointer;
    transition: ease-in 0.2s;
}
main{
    width: 100vw;
    height: 100%;
}
#hero{
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 2rem;
}
#hero *{
    width: 100%;
    height: auto;
    margin: 2rem;
}
#hero-banner{
    color: var(--text-color);
    font-size: 10vh;
}
#hero-banner>:last-child{
    color: var(--highlight-col-2);
}
#button-container{
    padding: 4rem;
}
#button-container button{
    padding:  1rem 2rem;
    width: 20vw;
    font-size: 3vh;
    border-radius: 1rem;
    background-color: var(--highlight-col-1);
    color: var(--highlight-col-2);
}
